*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    padding: 0 60px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
}

.header{
   
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.basket{
    width: 40px;
    height: 40px;
}

.header-item{
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact{
    padding-right: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contact span{
    color: #A1A1A1;
}
.header-item a{
    text-decoration: none;
    text-transform:uppercase;
    color: black;
    font-weight: 700;
    font-size: 14px;
    padding-right: 5px;
}

.slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.slider-item{
    height: 130px;
    border: 1px solid silver;
   display: flex;
   flex: 1 1 100px;
   flex-direction: row;
   justify-content: space-between;
}
.text{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h4{
    margin-bottom: 2px;
}

.slider-item img{
 max-width: 100%;
  height: 100%;
}

.switch{
    width: 100%;
    display: flex;
flex-direction: row;
justify-content: center;
gap: 3px;
}

.switch-item{
    height: 5px;
    background-color: silver;
    border-radius: 2px;
    width: 15px;
    
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   align-items: center;
   margin-top: 20px;
   gap: 15px;
   flex-wrap: wrap;
flex: 1 0 300px;
}

.content-item{
display: flex;
flex-direction: column;
max-width: 300px;


}

.content-item .weight{
    color: #A9A9A9;
    font-style: italic;
    margin-top: 5px;
}
.content-item .content-tittle{
    font-weight: 600;
    margin: 5px 0px;
    color: black;
    font-size: 18px;
}

.content-item p{
color: #ADADAD;
}
.content-item .price{
    margin-top: 5px;
    color: #FB9046;
    font-weight: 600;
}
.tittle{
    width: 100%;
    font-size: 24px;
    font-weight: 600;
}


@media screen and (width<720px) {
    .slider-item:nth-child(2),.slider-item:nth-child(3),.header-item a, .contact{
        display: none;
    }
    .content{
        gap: 5px;
        flex: 1 1 150px;

    }
    .content-item{
        max-width: 240px;
        margin-top: 10px;
    }
 body{
    padding: 0 20px;
 }
}
@media screen and (width<900px) {
  .slider-item{
    flex: 1 0 250px;
  }
  .slider-item:nth-child(3){
    display: none;
  }
}
@media screen and (width<530px) {
    .content{
        gap: 5px;
        flex: 1 1 150px;

    }
    .content-item{
        max-width: 180px;
        margin-top: 10px;
    }
  }
  @media screen and (width<400px) {
    .content{
       justify-content: center;

    }
   
  }